
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Special+Elite&display=swap');
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffdae9;
  color: #030404;
}
 

header {
  background-color: #ffdae9;
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
 

header h1 {
  font-family: 'Special Elite', cursive;
  letter-spacing: 5px;
}
 

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
 

nav a {
  text-decoration: none;
  color: rgb(5, 2, 53);
  background-color: #c28ee3;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}
 
nav a:hover {
  background-color: #e6e6fa;
}
 

main {
  max-width: 900px;
  margin: auto;
}
 

section {
  margin: 30px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
 
h2 {
  text-align: center;
  color: #629632;
  margin-bottom: 10px;
}
 

.img-historia {
  float: right;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
 

.clear {
  clear: both;
}
 

ul, ol {
  margin-left: 20px;
}
 

table {
  width: 100%;
  border-collapse: collapse;
}
 
th {
  background-color: #AFEEEE;
  color: rgb(17, 17, 17);
}
 
th, td {
  border: 1px solid #FFB7CE;
  padding: 10px;
}
 

form {
  width: 60%;
  margin: auto;
}
 
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 

input[type="submit"] {
  background-color: #be97f1;
  color: rgb(7, 7, 7);
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
 
input[type="submit"]:hover {
  background-color: #be97f1;
}
 

#s5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
 
#s5 img {
  width: 30%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
 

footer {
  text-align: center;
  background-color: #c4DCFF;
  padding: 15px;
  margin-top: 30px;
}
 